body{
    background: linear-gradient(-45deg,  #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: Arial, sans-serif;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1{
    text-align: center;
    color: #333;
}
a{
    text-decoration: none;
    color: #333;
    border: #333;
    border-radius: 10px;
}
input[type="text"]{
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="date"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button[type="submit"]{
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
select{
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#form_div{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-content: center;
}
#completed_div {
    width: 45%;
    float: right;
    border-radius: 10px;
    background-color: blueviolet;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: -moz-hidden-unscrollable;
}
#pending_div {
    width: 45%;
    float: left; 
    border-radius: 10px;
    background-color: blue;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#task_wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}